<br><br>
<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Verificacion de Correo</font>
                </font>
            </h3>
            <form action="#" method="post">
                <div class="key">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <input type="text" name="Email" required="" #codigo placeholder="Ingrese el codigo de verificacion">
                    <div class="clearfix"></div>
                </div>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"><input type="button" value="Terminar" (click)="Verificar(codigo.value)"></font>
                </font>
            </form>
        </div>
    </div>
</div>
<br><br>