<div class="sub-banner">
</div>
<div class="contact">
    <div class="container">
        <h3>Contáctanos</h3>
        <div class="col-md-3 col-sm-3 contact-left">
            <div class="address">
                <h4>Dirección:</h4>
                <h5>Centro comercial constitucion</h5>
                <h5>Stand 20 -21 - Huancayo - Perú </h5>
            </div>
            <div class="phone">
                <h4>telefono</h4>
                <h5>Ninguno</h5>
            </div>
            <div class="email">
                <h4>Nuestros correos electronicos</h4>
                <h5><a href="Cresspo@gmail.com">Cresspo@gmail.com</a></h5>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 contact-right">
            <form action="#" method="post">
                <input type="text" name="your name" placeholder="Ingresa tu nombre" required=" ">
                <input type="text" name="your email" placeholder="Ingresa tu correo" required=" ">
                <input type="text" name="your subject" placeholder="Asunto" required=" ">
                <input type="text" name="your phone number" placeholder="Numero de telefono" required=" ">
                <textarea name="your message" placeholder="Escribe tu duda o queja" required=" "></textarea>
                <input type="submit" value="enviar mensaje">
            </form>
        </div>
    </div>
</div>