<div class="row">
    <div class="col-md-6">
            <div class="profile-block" style="align-items: center">
                    <div class="panel text-center">
                      <div class="user-heading"> <a href="#"><img [src]="usuario.imagen" alt="" title=""></a>
                        <h1>{{usuario.nombre}}</h1>
                        <p>{{usuario.correo}}</p>
                        <p>{{usuario.telefono}}</p>
                      </div>
                      <ul class="nav nav-pills nav-stacked">
                        <li><a href="#"><i class="fa fa-user"></i>Editar datos</a></li>
                        <li class="active"><a href="#"><i class="fa fa-pencil-square-o"></i>Compras</a></li>
                        <li><a ><i class="fa fa-heart" aria-hidden="true"></i>Favoritos</a></li>
                        <li><a href="#"><i class="fa fa-map" aria-hidden="true"></i>Direcciones</a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
                      </ul>
                    </div>
                  </div>
    </div>
        
    <div class="col-md-6" > 
        <div style="padding: 15px" *ngIf="ventana==='ventas'">
            <br>
            <h2>Compras Realizadas</h2> <br>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of compras;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.codigo}}</td>
                    <td style="text-align: center">{{item.Fecha}}</td>
                    <td>S/. {{item.monto}}</td>
                    <td>
                            <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                    
                                        <app-favorites></app-favorites>
                                    </div>
                                  </div>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ver</button>
                    </td>
                    </tr>
                    
                </tbody>
                </table>
        </div>
    </div>
</div>