<div class="login">
  <div class="main-agileits">
      <div class="form-w3agile">
          <h3>
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Actualizar datos del usuario</font>
              </font>
          </h3>
          <form action="#" method="post">
              <div class="key">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <input type="text" name="Username" #Nombre required=""   placeholder="Nombres Completos">
                  <div class="clearfix"></div>
              </div>
              <div class="key">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <input type="text" name="Username" #Telefono required="" placeholder="Telefono">
                  <div class="clearfix"></div>
              </div>
              <div class="key">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <input type="text" name="Username" #Telefono2 required="" placeholder="Telefono 2">
                <div class="clearfix"></div>
            </div>
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;"><input type="button" (click)="actualizar(Nombre.value,Telefono.value,Telefono2.value)" value="Actualizar datos"></font>
              </font>
          </form>
      </div>
  </div>
</div>