<div class="sub-banner">
</div>
<div class="about">
    <div class="container">
        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Sobre nosotros</font>
            </font>
        </h3>
        <div class="about-info">
            <div class="col-md-8 about-grids">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Nuestra última colección</font>
                    </font>
                </h4>
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">En Cresspo men somos una empresa en la cual nuestra pasión es la moda y queremos aportar esa pasión a cada una de nuestras prendas exclusivas, desde diseños únicos hasta el mimo con que se confeccionan. Cada colección se centra
                            en crear básicos de alta calidad y piezas innovadoras para todo tipo de hombres y estilos de vida, porque cada hombre es único. Por ello queremos retratarlo con nuestra estética elegante, a la vez que sencilla. Dándole ese
                            toque de masculinidad que todos poseemos. </font>
                    </font>
                </p>
                <div class="about-w3ls-row">
                    <script type="text/javascript">
                        $(window).load(function() {
                            $("#flexiselDemo3").flexisel({
                                visibleItems: 2,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 2
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 2
                                    }
                                }
                            });

                        });
                    </script>
                    <script type="text/javascript" src="assets/js/jquery.flexisel.js"></script>
                    <div class="nbs-flexisel-container">
                        <div class="nbs-flexisel-inner">
                            <ul id="flexiselDemo3" class="nbs-flexisel-ul" style="left: -242.5px; display: block;">
                                <li class="nbs-flexisel-item" style="width: 242.5px;">
                                    <img src="assets/imagenesCresspo/saltando2.jpg" class="img-responsive" alt="">
                                </li>
                                <li class="nbs-flexisel-item" style="width: 242.5px;">
                                    <img src="assets/imagenesCresspo/portada2.jpg" class="img-responsive" alt="">
                                </li>
                                <li class="nbs-flexisel-item" style="width: 242.5px;">
                                    <img src="assets/imagenesCresspo/saltando2.jpg" class="img-responsive" alt="">
                                </li>
                                <li class="nbs-flexisel-item" style="width: 242.5px;">
                                    <img src="assets/imagenesCresspo/portada2.jpg" class="img-responsive" alt="">
                                </li>
                                <li class="nbs-flexisel-item" style="width: 242.5px;">
                                    <img src="assets/imagenesCresspo/saltando2.jpg" class="img-responsive" alt="">
                                </li>
                                <li class="nbs-flexisel-item" style="width: 242.5px;">
                                    <img src="assets/imagenesCresspo/portada2.jpg" class="img-responsive" alt="">
                                </li>
                                <li class="nbs-flexisel-item" style="width: 242.5px;">
                                    <img src="assets/imagenesCresspo/portada2.jpg" class="img-responsive" alt="">
                                </li>
                                <li class="nbs-flexisel-item" style="width: 242.5px;">
                                    <img src="assets/imagenesCresspo/portada2.jpg" class="img-responsive" alt="">
                                </li>
                            </ul>
                            <div class="nbs-flexisel-nav-left" style="top: 96px;"></div>
                            <div class="nbs-flexisel-nav-right" style="top: 96px;"></div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 about-grids">
                <h4>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Nuestros compromisos</font>
                    </font>
                </h4>
                <div class="pince">
                    <div class="pince-left">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">01</font>
                            </font>
                        </h5>
                    </div>
                    <div class="pince-right">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Estar a la vanguardia de la moda masculina</font>
                            </font>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="pince">
                    <div class="pince-left">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">02</font>
                            </font>
                        </h5>
                    </div>
                    <div class="pince-right">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ofrecer cliente atencion de calidad, porque sin ellos nuestra empresa no seria nada </font>
                            </font>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="pince">
                    <div class="pince-left">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">03</font>
                            </font>
                        </h5>
                    </div>
                    <div class="pince-right">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Brindar asesoria sobre como vestir al cliente sin ningun tipo de cargo</font>
                            </font>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="pince">
                    <div class="pince-left">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">04</font>
                            </font>
                        </h5>
                    </div>
                    <div class="pince-right">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ser una eempresa reconocida al nivel nacional e internacional</font>
                            </font>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="about-bottom">
    <div class="container">
        <h3>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Piso </font>
            </font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">50% de</font></font></span>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"> descuento</font>
            </font>
        </h3>
        <h4>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Accesorios de mujer</font>
            </font>
        </h4>
        <a href="Jewellery.html">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Compra ahora</font>
            </font>
        </a>
    </div>
</div>
<br>
<div class="container">
    <h3>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> Nuestro equipo</font>
        </font>
    </h3><br>
    <div class="team-grids">
        <div class="col-md-3 team-grid">
            <div class="team-img">
                <img src="assets/images/t1.jpg" class="img-responsive" alt=" ">
                <figcaption class="overlay">
                    <div class="social-icon">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </figcaption>
            </div>
            <h4>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">John Filmr Doe</font>
                </font>
            </h4>
            <h5>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Director general</font>
                </font>
            </h5>
        </div>
        <div class="col-md-3 team-grid">
            <div class="team-img">
                <img src="assets/images/t3.jpg" class="img-responsive" alt=" ">
                <figcaption class="overlay">
                    <div class="social-icon">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </figcaption>
            </div>
            <h4>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Jaye smith</font>
                </font>
            </h4>
            <h5>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Desarrollador principal</font>
                </font>
            </h5>
        </div>
        <div class="col-md-3 team-grid">
            <div class="team-img">
                <img src="assets/images/t2.jpg" class="img-responsive" alt=" ">
                <figcaption class="overlay">
                    <div class="social-icon">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </figcaption>
            </div>
            <h4>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Mike Arney</font>
                </font>
            </h4>
            <h5>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Diseñador de moda</font>
                </font>
            </h5>
        </div>
        <div class="col-md-3 team-grid">
            <div class="team-img">
                <img src="assets/images/t4.jpg" class="img-responsive" alt=" ">
                <figcaption class="overlay">
                    <div class="social-icon">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </figcaption>
            </div>
            <h4>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Michele Lampa</font>
                </font>
            </h4>
            <h5>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">diseñador de moda</font>
                </font>
            </h5>
        </div>
        <div class="clearfix"></div>
    </div>
</div><br><br>