<br><br>
<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Iniciar sesión</font>
                </font>
            </h3>
            <form action="#" method="post">
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" name="Email" required="" #correo placeholder="Correo Electronico">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" name="Password" required="" #password placeholder="Contraseña">
                    <div class="clearfix"></div>
                </div>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"><input type="button" (click)="inicioSesion(correo.value,password.value)" value="Iniciar sesión"></font>
                </font>
            </form>
        </div>
        <div class="forg">
            <a href="#" class="forg-left">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Olvidé mi contraseña </font>
                </font>
            </a>
            <a [routerLink]="['/register']" class="forg-right">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Registrarse</font>
                </font>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br><br>