

<div *ngIf="favoritos.length == 0 ">
  <br><br><br><br><br>
  <h1>Aqui podras tus productos Guardados </h1>
  <br><br><br><br><br>
</div>

<div *ngIf="favoritos.length >= 1" style="text-align: center">
  <div >
      <div>
          <h2>Productos Guardados</h2>
      </div><br>
      <table style="width: 100%" class="table">
              <thead>
                  <tr style="background-color: black; color: white">
                  <th  style="color: white;text-align: center">Prenda</th>
                  <th  style="color: white;text-align: center"> Nombre</th>
                  <th style="color: white;text-align: center">Precio</th>
                  <th style="color: white;text-align: center">Acción</th>
                    </tr>
              </thead>
              <tbody >
              <tr  *ngFor="let item of favoritos;let i = index" class="active">
                  <td>
                        <img [src]="item.Producto.imagen.principal | imagenes"  style="height: 30px; width: 30px;" class="img-circle" alt="">
                  </td>
                  <td >{{item.Producto.nombre}}</td>
                  <td >S/.{{item.Producto.precio}}</td>
                  <td >
                      <button type="button" class="btn btn-primary " (click)="eliminar(item._id,i)"> Eliminar </button> &nbsp;
                      <button type="button" class="btn btn-danger " [routerLink]="['/product',item.Producto._id]"  > Ver  </button>
                  </td>
              </tr>
          </tbody>
      </table><br>
  </div>
</div>