<div>
    <div class="banner-agile">
        <div class="container">
            <!-- <h2>Bienvenido</h2>
            <h3>Cresspo <span> Men</span></h3>
            <p>Suspendisse sed tellus id libero pretium interdum. Suspendisse potenti. Quisque consectetur elit sit amet vehicula tristique. </p>
            <a href="about.html">Read More</a> -->
        </div>
    </div>
    <div class="banner-bootom-w3-agileits">
        <div class="container">
            <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
                <a href="women.html">
                    <div class="bb-left-agileits-w3layouts-inner">
                        <h3>Cupon del Dia</h3>
                        <h4>{{cuponvalido.nombre}}<span>S/. {{cuponvalido.descuento}}</span></h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 bb-grids bb-middle-agileits-w3layouts">
                <a href="shoes.html">
                    <div class="bb-middle-top">
                        <h3>Casacas</h3>
                        <h4>de<span>moda</span></h4>
                    </div>
                </a>
                <a href="jewellery.html">
                    <div class="bb-middle-bottom">
                        <h3>OFERTA</h3>
                        <h4>en Tienda<span>65%</span></h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3 bb-grids bb-right-agileits-w3layouts">
                <a href="watches.html">
                    <div class="bb-right-top">
                        <h3>OFERTA</h3>
                        <h4>en Tienda<span>50%</span></h4>
                    </div>
                </a>
                <a href="handbags.html">
                    <div class="bb-right-bottom">
                        <h3>OFERTA</h3>
                        <h4>en Tienda<span>60%</span></h4>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <h1>Nuestras prendas mas nuevas</h1> <br>
        <div class="sap_tabs">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <div class="clearfix"> </div>
                <div class="resp-tabs-container">
                    <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>Men's</h2>
                    <div class="tab-1 resp-tab-content resp-tab-content-active" style="display:block" aria-labelledby="tab_item-0">
                        <div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
                            <a [routerLink]="['/product',productos[productos.length-4]._id]">
                                <div class="product-img">
                                    <img [src]="productos[productos.length-4].imagen.principal | imagenes" alt="">
                                    <!-- <div class="p-mask">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="w3ls1_item" value="Formal shoes">
                                            <input type="hidden" name="amount" value="220.00">
                                             <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i>Ver Producto</button> 
                                        </form>
                                    </div> -->
                                </div>
                            </a>
                            <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                            <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                            <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                            <i class="fa fa-star gray-star" aria-hidden="true"></i>
                            <i class="fa fa-star gray-star" aria-hidden="true"></i>
                            <h4>{{productos[productos.length-4].nombre}}</h4>
                            <h5>S/. {{productos[productos.length-4].precio}}</h5>
                        </div>


                        <div class="col-md-3 top-product-grids tp2">
                            <a [routerLink]="['/product',productos[productos.length-3]._id]">
                                <div class="product-img ">
                                    <img [src]="productos[productos.length-3].imagen.principal | imagenes " alt=" ">
                                    <!-- <div class="p-mask ">
                                        <form action="# " method="post ">
                                            <input type="hidden " name="cmd " value="_cart ">
                                            <input type="hidden " name="add " value="1 ">
                                            <input type="hidden " name="w3ls1_item " value="Formal shirt ">
                                            <input type="hidden " name="amount " value="190.00 ">
                                            <button type="submit " class="w3ls-cart pw3ls-cart "><i class="fa fa-cart-plus " aria-hidden="true "></i> Ver Producto</button>
                                        </form>
                                    </div> -->
                                </div>
                            </a>
                            <i class="fa fa-star yellow-star " aria-hidden="true "></i>
                            <i class="fa fa-star yellow-star " aria-hidden="true "></i>
                            <i class="fa fa-star yellow-star " aria-hidden="true "></i>
                            <i class="fa fa-star gray-star " aria-hidden="true "></i>
                            <i class="fa fa-star gray-star " aria-hidden="true "></i>
                            <h4>{{productos[productos.length-3].nombre}}</h4>
                            <h5>S/. {{productos[productos.length-3].precio}}</h5>
                        </div>


                        <div class="col-md-3 top-product-grids tp3 ">
                            <a [routerLink]="[ '/product',productos[productos.length-2]._id] ">
                                <div class="product-img ">
                                    <img [src]="productos[productos.length-2].imagen.principal | imagenes " alt=" ">
                                    <!-- <div class="p-mask ">
                                        <form action="# " method="post ">
                                            <input type="hidden " name="cmd " value="_cart ">
                                            <input type="hidden " name="add " value="1 ">
                                            <input type="hidden " name="w3ls1_item " value="Blazer ">
                                            <input type="hidden " name="amount " value="160.00 ">
                                            <button type="submit " class="w3ls-cart pw3ls-cart "><i class="fa fa-cart-plus " aria-hidden="true "></i> Ver Producto</button>
                                        </form>
                                    </div> -->
                                </div>
                            </a>
                            <i class="fa fa-star yellow-star " aria-hidden="true "></i>
                            <i class="fa fa-star yellow-star " aria-hidden="true "></i>
                            <i class="fa fa-star yellow-star " aria-hidden="true "></i>
                            <i class="fa fa-star gray-star " aria-hidden="true "></i>
                            <i class="fa fa-star gray-star " aria-hidden="true "></i>
                            <h4>{{productos[productos.length-2].nombre}}</h4>
                            <h5>S/. {{productos[productos.length-2].precio}}</h5>
                        </div>


                        <div class="col-md-3 top-product-grids tp4 ">
                            <a [routerLink]="[ '/product',productos[productos.length-1]._id] ">
                                <div class="product-img ">
                                    <img [src]="productos[productos.length-1].imagen.principal | imagenes " alt=" ">
                                    <!-- <div class="p-mask ">
                                        <form action="# " method="post ">
                                            <input type="hidden " name="cmd " value="_cart ">
                                            <input type="hidden " name="add " value="1 ">
                                            <input type="hidden " name="w3ls1_item " value="Casual shoes ">
                                            <input type="hidden " name="amount " value="250.00 ">
                                            <button type="submit " class="w3ls-cart pw3ls-cart "><i class="fa fa-cart-plus " aria-hidden="true "></i>Ver Productos</button>
                                        </form>
                                    </div> -->
                                </div>
                            </a>
                            <i class="fa fa-star yellow-star " aria-hidden="true "></i>
                            <i class="fa fa-star yellow-star " aria-hidden="true "></i>
                            <i class="fa fa-star yellow-star " aria-hidden="true "></i>
                            <i class="fa fa-star gray-star " aria-hidden="true "></i>
                            <i class="fa fa-star gray-star " aria-hidden="true "></i>
                            <h4>{{productos[productos.length-1].nombre}}</h4>
                            <h5>S/. {{productos[productos.length-1].precio}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>