<div style="padding: 15px;text-align: left">
  <div style="background-color: white">
    <h3>Venta: {{ViewVenta.codigo}}</h3><br>
    <h5>Fecha: {{ViewVenta.Fecha}}</h5><br>
    <h5>Estado: {{ViewVenta.estado}}</h5><br>
  </div>
  <div>

<table class="table">
    <thead>
        <tr>
            <th>N° </th>
            <th>Producto</th>
            <th>Talla</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active" *ngFor="let item of detalles;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.producto.nombre}}</td>
            <td>{{item.talla}}</td>
            <td>{{item.cantidad}}</td>
            <td>S/.{{item.precio}}</td>
            <td>S/. {{item.cantidad * item.precio}}</td>
        </tr>
        <tr>
          <td colspan="5"  style="text-align: center">Total: </td>
          <td>S/.{{ViewVenta.monto}}</td>
        </tr>
       
    </tbody>
</table>
  </div>
</div>

