<br><br>
<div class="footer" style="background-color: black; color: white">
    <div class="container">
        <div class="col-md-3 footer-grids fgd1">

            <ul>
                <div class="logo-w3">
                    <img src="assets/images/logoCresspomen.jpg">
                </div>
                <li>1234k Avenue, 4th block,</li>
                <li>New York City.</li>
                <li><a href="mailto:info@example.com">info@example.com</a></li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/cresspomen/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="col-md-3 footer-grids fgd2">
            <h4>Information</h4>
            <ul>
                <li><a href="contact.html">Contactanos</a></li>
                <li><a href="typography.html">Nosotros</a></li>
                <li><a href="faq.html">FAQ's</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grids fgd3">
            <h4>Tienda</h4>
            <ul>
                <li><a href="jewellery.html">Chompas</a></li>
                <li><a href="cosmetics.html">Casacas</a></li>
                <li><a href="Shoes.html">Pantalones</a></li>
                <li><a href="deos.html">Polos</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grids fgd4">
            <h4>Mi cuenta</h4>
            <ul>

                <li><a href="login.html">Iniciar Sesión</a></li>
                <li><a href="register.html">Registrate aqui!</a></li>
                <li><a href="recommended.html">Nuestro blog</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <p class="copy-right">© 2016 Fashion Club . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
    </div>
</div>