<br><br><br><br>
<div class="row">
    <div class="col-md-6" style="padding-left:  100px;padding-right:  100px;">
        <div>
            <h3>
                <h1>Selecione el lugar de entrega</h1>
                <div *ngIf="direcion.length === 0"><br>
                    <h4>Actualmente no tiene lugar de envio por favor agrege uno</h4>
                </div>
            </h3><br>
            <div style="text-align: center">
                <select class="btn btn-dark btn-block"  (change)="direccionElejida($event.target.value)"  *ngIf="direcion.length >= 1" >
                     <option value="" *ngFor="let item of direcion;let i = index"  [value]="i">{{item.Direccion}} - {{item.Ubigeo.distrito}} - {{item.Ubigeo.provincia}}</option>
                </select><br>
                <font style="vertical-align: inherit;" class="form-w3agile">
                    <font style="vertical-align: inherit;"><input type="button" [routerLink]="['/addaddress','pago']"  value="Agregar Nuevo"></font>
                </font>
            </div>  
        </div>
    <div>
        
    </div>
    
</div>

<div class="col-md-6" style="padding-right: 150px;padding-top: 15px;padding-bottom: 150px">
    <h2>Resumen de su compra </h2> <br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Prenda</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of carrito;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.nombre}}</td>
            <td style="text-align: center">{{item.cantidad}}</td>
            <td>S/. {{item.precio}}</td>
            <td>S/. {{item.precio  * item.cantidad}}</td>
          </tr>
          <tr>
            <th scope="row" colspan="4" style="text-align: center">Total:</th> 
            <td> S/.</td>
          </tr>
        </tbody>
      </table>
      <font style="vertical-align: inherit;" class="form-w3agile">
        <font style="vertical-align: inherit;"><input type="button" (click)="pagar()" value="Realizar Pago"></font>
    </font>
      
</div>
