<div class="row">
    <div class="col-md-6" style="padding-left:  150px;padding-right:  150px;">
        <div>
            <div class="form-w3agile">
                <h3>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Ingresar datos de la tarjeta</font>
                    </font><br>
                </h3><br>
                <form action="#" method="post">
                    <div class="key">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <input type="text" name="text" maxlength="16" required="" #correo placeholder="Numero Tarjeta">
                        <div class="clearfix"></div>
                    </div>
                    <div class="key">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <input type="text" maxlength="5" name="Password" required="" #password placeholder="Fecha de Vencimiento">
                        <div class="clearfix"></div>
                    </div>
                    <div class="key">
                        <i class="fa fa-lock" aria-hidden="true"></i> 2 <input type="password" name="Password" required="" #password placeholder="Codigo de Seguridad">
                        <div class="clearfix"></div>
                    </div>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"><input type="button" value="Realizar Pago"></font>
                    </font>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-right: 250px;padding-top: 50px">
        <h2>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Resumen de la compra </font>
            </font>
            < </h2><br><br>
                <h3>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Compra:</font>&nbsp;
                        <font style="vertical-align: inherit;">S/. {{total}} </font>
                    </font>
                </h3>
                <h3>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Envio:</font>&nbsp;
                        <font style="vertical-align: inherit;">S/. 10 </font>
                    </font>
                </h3>
                <h3>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">____________________</font>&nbsp;
                    </font>
                </h3>
                <h3>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Total </font>&nbsp;
                        <font style="vertical-align: inherit;">{{total + 10}}</font>
                    </font>
                </h3>
    </div>
</div>